body {
  background-color: rgb(197, 143, 143);
} 

img {
  width: 250px;
  height: 250px;
}

header h1, footer h2 {
  margin-left: 35%;
}

header, footer {
  background-color: rgb(50, 11, 30);
  color:rgb(197, 143, 143);
  padding: 30px;
}

header {
  margin-bottom: 50px;
}


button:hover {
  transform: scale(1.2, 1.2); 
}

button:active {
  transform: scale(1,1);
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
